@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}



:root{
  /* primary */
  --footerColor: hsl(233, 26%, 24%);
  --btnColor: hsl(136, 65%, 51%);
  --btnColorgradient: hsl(192, 70%, 51%);
  
 /* neutral */
  
  --servicesBg: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --heroBg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
body{
  overflow-x: hidden;
}
.Button__wrapper{
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 1rem;

  color: var(--white);
  background-image: linear-gradient(to right, var(--btnColor), var(--btnColorgradient));
}
.Button__wrapper:hover{
  --btnColor: hsl(136, 65%, 51%, 75%);
  --btnColorgradient: hsl(180, 11%, 2%, 50%);
  background-image: linear-gradient(to right, var(--btnColor), var(--btnColorgradient));
}